@charset "UTF-8";

/* GOOGLE PONT START */
/* font-family: 'Montserrat', 'Noto Sans KR', sans-serif; */
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
	;
/* GOOGLE PONT END */

/* Minho_CSS START */
/* header */
#minho_header {
	width: 100%;
	border-bottom: 1px solid;
}

/* spring_hidden (header h1,h2 요소 안보이게) */
#minho_header .spring_hidden {
	position: absolute;
	overflow: hidden;
	left: -999%;
	width: 0px;
	height: 0px;
	font-size: 0;
}

/* header_header 간격 */
#minho_header .header {
	border: 0;
	margin: 0 10%;
	padding: 0;
}

/* header_logo 사이즈 */
#minho_header .logo {
	width: 150px;
	margin: 55px 0;
}

/* header_left 간격 */
#minho_header .left {
	border: 0;
	margin: 0;
	padding: 0;
}

#minho_header .right {
	border: 0;
	margin: 0;
	padding: 0;
}

#minho_header p {
	margin: 0;
}

/* login & logout */
#minho_header .login, .logout {
	float: right;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 170%;
	font-weight: 600;
	color: #0f0f0f;
	margin: 53px 0;
}

#minho_header .login:hover, .logout:hover, .mypage:hover {
	text-decoration: none;
}

/* login & logout */
#minho_header .mypage {
	float: right;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 170%;
	font-weight: 600;
	color: #0f0f0f;
	margin: 53px 0;
	margin-right: 50px;
}

/* footer */
#minho_footer {
	width: 100%;
}

/* header_footer 간격 */
#minho_footer .footer {
	border: 0;
	margin: 0;
	padding: 0;
}

/* footer_center 간격 */
#minho_footer .center {
	border: 0;
	margin: 0;
	padding: 0;
	border-top: 1px solid;
}

/* footer_font */
#minho_footer .main {
	margin: 0;
	margin-bottom: 4px;
	font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	padding: 20px 0;
}

/* footer 내용 */
#minho_footer .context {
	margin: 0;
	margin-bottom: 4px;
	font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
	font-size: 14px;
	text-align: center;
	padding: 1px 0;
}

/* 로그인, 아이디찾기 */
#minho_main {
	width: 100%;
}

/* 로그인, 아이디찾기 내부 */
#minho_main .login {
	border: 0;
	margin: 5% 10%;
	padding: 0;
}

#minho_main .center {
	padding: 0;
}

/* 로그인 텍스트 */
#minho_main .text {
	margin: 0 0 8px 0;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 24px;
	text-align-last: center;
}

/* 로그인, 아이디찾기 텍스트 */
#minho_main .mainText {
	margin: 0 0 15px 0;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-align-last: center;
}

/* 로그인, 아이디찾기 폼 */
#minho_main .fg {
	margin: 0 30% 15px 30%;
}

/* 로그인, 아이디찾기 control */
#minho_main .lf {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 600;
}

#minho_main .fc {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
	padding: 0;
}

#minho_main .fc:focus {
	box-shadow: none;
}

#minho_main .bb {
	background-color: #161616;
	font-size: 16px;
	padding: 10px;
	color: white;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 700;
	text-align: center;
	border: 1px solid #161616;
	border-radius: 6px;
}
#minho_main .bbKakao {
    background-color: #e6f43e;
    font-size: 16px;
    padding: 10px;
    color: #161615;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 700;
    text-align: center;
    border: 1px solid #e6f43e;
    border-radius: 6px;
}

/* Taesol */
#minho_main .bbNaver {
    background-color: #03c75a;
    font-size: 16px;
    padding: 10px;
    color: white;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 700;
    text-align: center;
    border: 1px solid #03c75a;
    border-radius: 6px;
} 

#minho_main .bb:focus {
	outline: none;
	text-decoration: none;
}

#minho_main .bb:hover {
	outline: none;
	text-decoration: none;
}

#minho_main .leftA {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 600;
	color: #333;
	float: left;
	text-align: left;
	float: left;
}

#minho_main .centerA {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 600;
	color: #333;
	margin: 0 0 0 31%;
	text-align: center;
}

#minho_main .rightA {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 600;
	color: #333;
	float: right;
	text-align: right;
}

/* 아이디찾기 텍스트 */
#minho_main .pText {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	margin: 13px 0 30px 0;
	line-height: 20px;
}

/* 아이디찾기 뒤로가기 버튼 */
#minho_main .ba {
	background-color: #9b9b9b;
	font-size: 16px;
	padding: 10px;
	color: white;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 700;
	text-align: center;
	border: 1px solid #9b9b9b;
	border-radius: 6px;
}

#minho_main .ba:focus {
	outline: none;
	text-decoration: none;
}

#minho_main .ba:hover {
	outline: none;
	text-decoration: none;
}

/* select 폼 */
#minho_main .fcc {
	margin-top: 7px;
	display: block;
	width: -webkit-fill-available;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
	padding: 0 0 6px 0;
}

#minho_main .fcc:focus {
	box-shadow: none;
}

/* 우편번호 폼 */
#minho_main .fcp {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	width: 25%;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
	padding: 0;
	margin: 16px 0 0 0;
	padding-bottom: 8px;
}

#minho_main .fcp:focus {
	box-shadow: none;
}

#minho_main .fcp2 {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
	padding: 0;
	margin: 16px 0 0 0;
	padding-bottom: 8px;
}

#minho_main .fcp2:focus {
	box-shadow: none;
}

/* 우편버튼 */
#minho_main .bcp {
	background-color: #9b9b9b;
	font-size: 14px;
	padding: 10px;
	color: white;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 400;
	border: 1px solid #9b9b9b;
	border-radius: 10px;
	margin-left: 18px;
	width: 23%;
}

/* 회원가입 완료 */
#minho_main .fj {
	background-color: #fdfdfd;
	padding: 2% 9%;
}

#minho_main .joinMain {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 21px;
	text-align: center;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 35px;
}

#minho_main .joinSub {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 17px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 40px;
}

/* 관리자 및 유저 메뉴 */
#minho_main .menu {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 30px;
	margin: 0 0 0 0;
	font-weight: 600;
}

#minho_main .box {
	margin: 30px 0 30px 0;
}

#minho_main .mainMenu {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 24px;
	color: #0f0f0f;
	padding: 0 0 5px 0;
	font-weight: 600;
}

#minho_main .subMenu {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #0f0f0f;
	font-weight: 400;
}

#minho_main a {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	color: #0f0f0f;
}

#minho_main a:focus {
	outline: none;
	outline-offset: none;
}

#minho_main a:focus {
	color: #0f0f0f;
	text-decoration: none;
}

#minho_main a:hover {
	color: #0f0f0f;
	text-decoration: none;
}

#minho_main .adminBox {
	border: 1px solid #9b9b9b;
	height: 150px;
}

#minho_main .lAdminProfile {
	float: left;
	margin: 47px 0 0 140px;
}

#minho_main .rAdminProfile {
	float: right;
	margin: 57px 140px 0 0;
}

#minho_main .adminName {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 24px;
	color: #0f0f0f;
	font-weight: 600;
	margin: 0;
}

#minho_main .adminId {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #0f0f0f;
	font-weight: 400;
	margin: 6px 0 0 0;
}

#minho_main .adminRole {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 24px;
	color: #0f0f0f;
	font-weight: 600;
	margin: 0;
}

/* 관리자 마이페이지*/
#minho_main .mainAdminText {
	margin: 40px 0 15px 10px;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

#minho_main .adminMyFg {
	margin: 10px 0 20px 10px;
}

#minho_main .adminMyLf {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 600;
	margin: 0;
}

#minho_main .adminMyfc {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
	padding: 0;
	padding-bottom: 10px;
	margin-top: 10px;
	width: 50%;
	margin-top: 10px
}

#minho_main .adminMyfc:focus-visible {
	outline: none;
}

#minho_main .adminMyBcp {
	background-color: #9b9b9b;
	font-size: 14px;
	padding: 5px 20px 5px 20px;
	color: white;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 400;
	border: 1px solid #9b9b9b;
	border-radius: 10px;
	margin-left: -69px;
	width: 70px;
}

#minho_main .adminMyBcp:hover {
	color: white;
	text-decoration: none;
}

/* 변경 */
#minho_main .adminBoxCh {
	border: 1px solid #0f0f0f;
	box-shadow: 14px 9px 25px -8px #d7d7d7;
}

#minho_main .adminNameCh {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	margin: 35px 0 35px 0;
	font-size: 30px;
	text-align-last: center;
	font-weight: 600;
	color: #0f0f0f;
}

#minho_main .fgCh {
	margin: 0 27% 30px 27%;
}

#minho_main .fgChBt {
	margin: 0 27% 12px 27%;
}

#minho_main .fgChBb {
	margin: 0 27% 35px 27%;
}

#minho_main .lfCh {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #0f0f0f;
}

#minho_main .fcCh {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
	padding: 0;
	font-size: 16px;
	color: #0f0f0f;
	font-weight: 400;
}

#minho_main .bcpCh {
	background-color: #9b9b9b;
	font-size: 14px;
	padding: 10px;
	color: white;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 400;
	border: 1px solid #9b9b9b;
	border-radius: 10px;
	margin-left: 18px;
	width: 26%;
}

/* 관리자 관리 */

#minho_main .mainAdminText {
	margin: 25px 0 15px 10px;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

#minho_main .tt {
	margin: 20px 0 20px 10px;
}

#minho_main .text-center {
	text-align: center;
	margin: -5px 0px 10px 0;
}

#minho_main .gum {
	margin: 20px 0 0 10px;
    width: 130px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#minho_main .gumBtn {
	margin: 20px 0 20px 10px;
    width: 130px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#minho_main .gumbb {
	background-color: #161616;
    padding: 6px 12px;
    width: 130px;    
    height: 34px;
	color: white;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 700;
	text-align: center;
	border: 1px solid #161616;
	border-radius: 4px;
	margin: 20px 0 20px 10px;
}

#minho_main .gumbb:focus {
	color: white;
	outline: none;
	text-decoration: none;
}

#minho_main .gumbb:hover {
	outline: none;
	text-decoration: none;
}

/* 상세보기 */
#minho_main .adminMyLf2 {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 600;
	margin: 0;
}

#minho_main .adminMyfc2 {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
	padding: 0;
	padding-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	margin-top: 10px
}

#minho_main .adminMyfc2:focus-visible {
	outline: none;
}

#minho_main .adminMyBcp2 {
	background-color: #9b9b9b;
	font-size: 14px;
	padding: 5px 20px 5px 20px;
	color: white;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 400;
	border: 1px solid #9b9b9b;
	border-radius: 10px;
	margin-left: -72px;
	width: 70px;
}

#minho_main .adminMyBcp2:hover {
	color: white;
	text-decoration: none;
}

#minho_main .form-control[readonly] {
	background-color: white;
}

/* Minho_CSS END */
/* TaeSol		 */
#minho_main #noticeboard_user_list {
	align-items: center;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    display: flex;
    padding: 17px 0 19px;	
}
